<!DOCTYPE HTML>
<html>
	<head>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script type="text/javascript" src="/javascripts/d3.js"></script>
		<script type="text/javascript" src="/javascripts/d3.layout.cloud.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body ng-app="pttApp" ng-controller="listCtrl" ng-init="init()" style="font-family: Microsoft JhengHei;">
		<nav class="navbar navbar-inverse" style="margin-bottom:0px">
		<div class="container-fluid">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">PTT Popular</a>
		  </div>
		  <ul class="nav navbar-nav">
		    <li class="active"><a href="#">Home</a></li>
		    
		  </ul>
		</div>
		</nav>
		<div class="container">
		<div class="container">
			<div class="jumbotron" style="height:300px">
			  <h1>PTT趨勢</h1>
			  <br>      
			  <button type="button" class="btn btn-primary" ng-click="startWordCloud()">文字雲模式</button>
			  <button type="button" class="btn btn-primary" ng-click="startTable()">表格模式</button>
			</div>
		</div>
		<div class="container" >
			<div class="container" ng-show="showTable">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
				  <h2>五月份趨勢</h2>
				  <ul class="list-group">
				    <li class="list-group-item">New <span class="badge">12</span></li>
				    <li class="list-group-item">Deleted <span class="badge">5</span></li>
				    <li class="list-group-item">Warnings <span class="badge">3</span></li>
				  </ul> 
				</div>
				<div class="col-sm-3"></div>
			</div>
		    <div class="container" ng-show="showWordCloud">
				<div class = "col-md-4"></div>
				<div class = "col-md-4">
					<div ng-controller="myCtrl">
						<h2>五月份趨勢</h2>
						<div id="tag" style="border: 0px solid #000; height: 500px; width: 500px;">
						</div>
					</div>
				</div>
				<div class = "col-md-4"></div>
			</div>
		</div>
		
		<script type="text/javascript" language="JavaScript">
			var pttApp = angular.module('pttApp', []);
			pttApp.controller('listCtrl',function($scope){
				$scope.init = function(){
				  $scope.showTable = false;
				  $scope.showWordCloud = true;
				}
				$scope.startWordCloud = function(){
		          $scope.showTable = false;
		          $scope.showWordCloud = true;
		          console.log($scope.showWordCloud);
		          console.log($scope.showTable);
		        }
		        $scope.startTable = function(){
		          $scope.showWordCloud = false;
		          $scope.showTable = true;
		          console.log($scope.showWordCloud);
		          console.log($scope.showTable);
		        }
			});
			pttApp.controller('myCtrl', function($scope, $http) {
			    $http.get("http://localhost:3000/pttStat")
			    .then(function(response) {
			    	//console.log(response.data);
			        var data = response.data
			        console.log(data)
			        startRender(data);
			    });
			});
		</script>
		

		<script type="text/javascript" language="JavaScript">
			/*var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope, $http) {
			    $http.get("http://localhost:3000/pttStat")
			    .then(function(response) {
			    	//console.log(response.data);
			        var data = response.data
			        console.log(data)
			        startRender(data);
			    });
			});*/
			
			
			/*var data = [
		      {
		        text : "透視C語言",
		        size : 37,
		        url : 'http://www.tenlong.com.tw/items/9862769408?item_id=886353'
		      },
		      {
		        text : "超圖解 Arduino",
		        size : 35,
		        url : 'http://www.tenlong.com.tw/items/9863120847?item_id=577739'
		      },
		      {
		        text : "Linux Shell 程式設計",
		        size : 25,
		        url : 'http://www.tenlong.com.tw/items/986276970X?item_id=887065'
		      },
		      {
		        text : "無瑕的程式碼",
		        size : 40,
		        url : 'http://www.tenlong.com.tw/items/PG-001?item_id=884070'
		      },
		      {
		        text : "挑戰大數據",
		        size : 23,
		        url : 'http://www.tenlong.com.tw/items/9865764040?item_id=883951'
		      },
		      {
		        text : "Android 大螢幕手機",
		        size : 23,
		        url : 'http://www.tenlong.com.tw/items/9862018143?item_id=887255'
		      } 
		    ];*/
		    
		    function startRender(data) {
			  var fill = d3.scale.category20();
			  //要顯示於標籤雲的資料內容，為一個JSON物件的陣列
			  
			  d3.layout.cloud().size([ 500, 500 ]).words(data).padding(0).rotate(
			      0).font('"微軟正黑體",Impact').fontSize(function(d) {
			    return d.number;
			  }).on("end", draw).start();
	 
			  function draw(words) {
			    d3.select("#tag") //要插入標籤雲的tag id
			    .append("svg").attr("width", 500).attr("height", 500)
			    .append("g").attr("transform", "translate(250,250)") //這裡的值要對應到繪圖區域的寬、高的一半，針對不同的瀏覽器要設可以使用的值，如Chrome為-webkit-transform
			    .selectAll("text").data(words).enter().append("text")
			    .style("font-size", function(d) {
			          return d.number*3 + "px";
			        })
			    .style("font-family", '"微軟正黑體",Impact')
			    .style("cursor", 'pointer')//當滑鼠移上去時，變換cursor
			    .style("fill", function(d, i) {
			      return fill(i);
			    }).attr("text-anchor", "middle")
			    .attr("transform",//跟上面的transform一樣，需依不同的瀏覽器設定對應的值
			        function(d) {
			          return "translate(" + [ d.x, d.y ] + ")rotate(" + d.rotate + ")";
			        })
			    .text(function(d) {
			      return d.word;
			    });
			  }
			}

			
		</script>
	</body>
</html>