<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script type="text/javascript" src="/javascripts/d3.js"></script>
		<script type="text/javascript" src="/javascripts/d3.layout.cloud.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body ng-app="pttApp" ng-controller="listCtrl" ng-init="init()" style="font-family: Microsoft JhengHei;">
		<nav class="navbar navbar-inverse" style="margin-bottom:0px">
		<div class="container-fluid">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">PTT Popular</a>
		  </div>
		  <ul class="nav navbar-nav">
		    <li class="active"><a href="#">Home</a></li>
		    
		  </ul>
		</div>
		</nav>
		
		<div class="container">
			<div class="jumbotron" style="height:300px">
			  <h1>PTT視角</h1>
			  <br>      
			  <button type="button" class="btn btn-primary" ng-click="startTable()">表格模式</button>
			  <button type="button" class="btn btn-primary" ng-click="startWordCloud()">文字雲模式</button>
			</div>
		</div>
		<div class="container" >
			<div class="container" ng-show="showTable">
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
				  <h2>今日趨勢</h2>
				  <ul class="list-group">
				  	{{# each dayStats}}
				  		<li class="list-group-item">{{this.word}} <span class="badge">{{this.number}}</span></li>
				  	{{/each}}
				  </ul> 
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">
				  <h2>昨日趨勢</h2>
				  <ul class="list-group">
				  	{{# each yesStats}}
				  		<li class="list-group-item">{{this.word}} <span class="badge">{{this.number}}</span></li>
				  	{{/each}}
				  </ul> 
				</div>
				<div class="col-sm-1"></div>
			</div>
		    <div class="container" ng-show="showWordCloud">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					<div ng-controller="myCtrl">
						<h2>今日趨勢</h2>
						<div id="tag">
						</div>
					</div>
				</div>
				<div class = "col-md-2"></div>
			</div>
		</div>
		
		<script type="text/javascript" language="JavaScript">
			var pttApp = angular.module('pttApp', []);
			pttApp.controller('listCtrl',function($scope){
				$scope.init = function(){
				  $scope.showTable = true;
				  $scope.showWordCloud = false;
				}
				$scope.startWordCloud = function(){
		          $scope.showTable = false;
		          $scope.showWordCloud = true;
		        }
		        $scope.startTable = function(){
		          $scope.showWordCloud = false;
		          $scope.showTable = true;
		        }
			});
			pttApp.controller('myCtrl', function($scope, $http) {
			    $http.get("http://localhost:3000/pttStat")
			    .then(function(response) {
			    	//console.log(response.data);
			        var data = response.data
			        console.log(data)
			        startRender(data);
			    });
			});
		</script>
		

		<script type="text/javascript" language="JavaScript">
		    function startRender(data) {
			  var fill = d3.scale.category20();
			  //要顯示於標籤雲的資料內容，為一個JSON物件的陣列
			  
			  d3.layout.cloud().size([ 700, 700 ]).words(data).padding(0).rotate(
			      0).font('"微軟正黑體",Impact').fontSize(function(d) {
			    return d.number;
			  }).on("end", draw).start();
	 
			  function draw(words) {
			    d3.select("#tag") //要插入標籤雲的tag id
			    .append("svg").attr("width", 700).attr("height", 700)
			    .append("g").attr("transform", "translate(350,150)") //這裡的值要對應到繪圖區域的寬、高的一半，針對不同的瀏覽器要設可以使用的值，如Chrome為-webkit-transform
			    .selectAll("text").data(words).enter().append("text")
			    .style("font-size", function(d) {
			          return d.number*2 + "px";
			        })
			    .style("font-family", '"微軟正黑體",Impact')
			    .style("cursor", 'pointer')//當滑鼠移上去時，變換cursor 變成一隻手
			    .style("fill", function(d, i) {
			      return fill(i);
			    }).attr("text-anchor", "middle")
			    .attr("transform",//跟上面的transform一樣，需依不同的瀏覽器設定對應的值
			        function(d) {
			          return "translate(" + [ d.x, d.y ] + ")rotate(" + d.rotate + ")";
			        })
			    .text(function(d) {
			      return d.word;
			    });
			  }
			}
		</script>
	</body>
</html>